header {
    background-color: #5052c1 ;
    color: rgb(245, 194, 67);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 65px;
}
  

.nav {
  width: 50%;

}
