
.form-tag {
    background-color: rgb(114, 130, 193);
    color: black;
    margin-top: 0px;
    padding: 0px;
    height: 10px;
}
.button {
    margin-top: 5px;
    padding-top: 35px;
    margin-bottom: 80px;
    text-decoration: none;
    color: rgb(9, 9, 8);
}
.container {
    background-color: rgb(144, 130, 193);
    padding: 0px;
    margin: 0px;
    height: 300px;

}
.heading {
    background-color: rgb(114, 130, 193);
    padding-top: 10px;
    margin-top: 20px;
    color: black;
}
.page-body {
   padding: 20px; 
   margin: 0px;
   align-items: center;
   text-align: center;
   ;
}
form {
    padding: 25px;
}
.form-input {
    margin-top: 0px;
    margin-bottom: 20px;
   
}
